<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee"
  xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee">
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
    <servlet-name>StartupServlet</servlet-name>
    <display-name>StartupServlet</display-name>
    <description>Init point of application</description>
    <servlet-class>com.github.xsavikx.websitemonitor.servlet.StartupServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <resource-ref>
    <description>DB Connection</description>
    <res-ref-name>jdbc/website_monitor</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
</web-app>